html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
<<<<<<< HEAD
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
=======
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
>>>>>>> 7d335df57a17f1933205ac787fc2b247ebf4a28d
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
<<<<<<< HEAD
article, aside, details, figcaption, figure,
=======
article, aside, details, figcaption, figure, 
>>>>>>> 7d335df57a17f1933205ac787fc2b247ebf4a28d
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Design */

body {
	font-family: sans-serif;
	background-color: #008080;
	font-weight: 540;
}

header > h1 {
	display: inline;
	font-size: 80px;
}

header > img {
	width: 55px;
}
#icons {
	margin-left: 15px;
	margin-top: 15px;
}

<<<<<<< HEAD
#icons > a > img{
=======
#icons > img{
>>>>>>> 7d335df57a17f1933205ac787fc2b247ebf4a28d
	width: 6%;
	height: auto;
	display: block;
	margin-top: 5px;
}
<<<<<<< HEAD

=======
>>>>>>> 7d335df57a17f1933205ac787fc2b247ebf4a28d
#icons > p {
	margin-left: 10px;
}

footer {
	position: fixed;
	width: 100%;
	height: 50px;
	left: 0;
	bottom: 0px;
	background-color: #9da1aa;
<<<<<<< HEAD

}
#start {
	width: 100px;
=======
	
}
#start {
	width: 100px; 
>>>>>>> 7d335df57a17f1933205ac787fc2b247ebf4a28d
	padding: 3px;
}
#windows {
	width: 200px;
	height: 45px;
	margin-bottom: 1px;
	margin-left: 10px;
	margin-top: 2px;
}
/*time*/
footer > p {
	float: right;
	font-weight: 200px;
	font-size: 20px;
	border: solid;
	border-style: groove;
	border-width: 5px;
	padding: 4px;
	margin-top: 5px;
}
/*text box*/
<<<<<<< HEAD
#welcome > img {
	position: absolute;
	width: 45%;
	display: inline;
	margin-left: 30%;
	top: 13%;
}
#welcome > p {
	position: absolute;
	margin-left: 31%;
	top: 20%;
	font-family: sans-serif;
	font-weight: strong;
}
#welcome > h1 {
	position: absolute;
	margin-left: 31%;
	top: 25%;
=======
#welcome > img{
	display: inline;
	position: absolute;
	width: 45%;
	margin-left: 500px;
	bottom: 165px;
}
#welcome > p {
	position: relative;
	margin-left: 510px;
	bottom: 420px;
>>>>>>> 7d335df57a17f1933205ac787fc2b247ebf4a28d
}
.blinking {
	display: inline;
	color:;
}
<<<<<<< HEAD
.blinking{
=======
	.blinking{
>>>>>>> 7d335df57a17f1933205ac787fc2b247ebf4a28d
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
}
