h1 {
	text-align: center;
}
body {
	background-color: black;
	color: white;
}

.container{
	display: inline-block;
	text-align: center;
	margin-top: 5%;
	position: absolute;
}
.container > p{
}
img {
	width: 50%;
}
.next {
	float: right;
	margin-top: 24%;
	margin-right: 10%;
	position: relative;
	style: none;
}
.prev {
	float: left;
	margin-top: 20%;
	margin-left: 10%;
	position: absolute;
}
a {
	text-decoration: none;
	color: white;
}
.credit {
	font-size: 10px;
}
