h1 {
	text-align: center;
}
body {
	background-color: black;
	color: white;
}

.container{
	display: block;
	text-align: center;
	position: relative;
}
.container > p{
}
img {
	width: 36%;
}
.next {
	float: right;
	margin-left: 80%;
	top: 44%;
	position: absolute;
}
.prev {
	float: left;
	margin-top: 22%;
	margin-left: 10%;
	position: absolute;
}
a {
	text-decoration: none;
	color: white;
}
