.rotate {
	transform: rotate(-89deg);
}

#intro_image{
	display: inline;
	width: 30%;
	margin-left: auto;
	margin-right: auto;

}
header{
	top: 100px;
	text-align: center;
	top: ;
}
header > h1 {
	position: relative;
	top: 0px;
}
/*------------*/
#home {
	width: 25%;
}
#menu {
	
}
#menu > ul {
	
	list-style-type: none;
	margin:0;
	top: 30%;
	padding:;
	width: 15%;
	height: 100%;
	margin-bottom: 10px;
	background-color:;

    position: fixed;

}
#menu > li a {
	display: block;

}
/*-----------*/
#introduction {
	margin-left: 15%;
}
#mac_img {
	float:right;
	width: 40%;
}

#ex{
	margin-right: 35%
}
#grid {
	width: 50%;
	float: right;
	display: block;
	margin-right: 0%;
}
/*--------*/
#materials{
	margin-left: 15%;
	
}
/*---------*/
#preparation{
	margin-left:15%;
	display: block;
	padding: 0;
}
#preparation > #prep1{
	width: 30%;
	transform: rotate(90deg);
	margin-left: 50%;
	
	
}
