.rotate {
	transform: rotate(-89deg);
}

#intro_image{
	display: inline;
	width: 30%;
	margin-left: auto;
	margin-right: auto;

}
header{
	top: 100px;
	text-align: center;
	top: ;
}
header > h1 {
	position: relative;
	top: 0px;
}
/*------------*/
#home {
	width: 25%;
}
#menu {
	
}
#menu > ul {
	
	list-style-type: none;
	margin: 0;
	top: 30%;
	padding:;
	width: 15%;
	height: 100%;
	margin-bottom: 10px;
	background-color:;

    position: fixed;

}
#menu > li a {
	display: block;

}
/*-----------*/
#introduction {
	margin-left: 15%;
}
#mac_img {
	float:right;
	width: 40%;
}

#ex{
	margin-right: 35%
}
#grid {
	width: 50%;
	float: right;
	display: block;
	margin-right: 0%;
}
/*--------*/
#materials{
	margin-left: 15%;
}
/*---------*/
#preparation > h1 {
	margin-left: 15%;
}
#preparation > img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#preparation > #pcb {
	width: 28%;
	transform: rotate(90deg);
}	
#preparation > p {
	text-align: center;
}
#preparation > #switch {
	width: 28%;
	float: left;
	margin-left: 15%;
}
#preparation > #springs {
	width: 28%;
}	
#preparation > #testing {
	width: 28%;
	transform: rotate(-90deg);
}
#h1t {
	margin-left: 15%;
}
.defpic{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#sp {
	text-align: center;
}
#begin {
	width: 28%;
	transform: rotate(-90deg);
}
#fin {
	width: 40%;
	transform: rotate(-90deg);
}
#label {
	width: 30%;
	float: left;
	
}
